.c-ChartCard {
  display: grid;
  gap: var(--ui-space-medium);
}

.c-ChartCard__header {
  display: grid;
  gap: var(--ui-space-xxsmall);
}

.c-ChartCard__title {
  margin: 0;
  font-size: 16px;
}

.c-ChartCard__subtitle {
  color: var(--ui-muted);
  font-size: 13px;
}

.c-ChartCard__body {
  width: 100%;
  height: 260px;
}

.c-ChartCard__body--sm {
  height: 220px;
}

.c-ChartCard__body--md {
  height: 260px;
}

.c-ChartCard__body--lg {
  height: 320px;
}

